*{
    font-family: 'PT Sans', sans-serif;
}


.header {
    background: url(../img/dg/bg.png) center center/cover no-repeat;
    height: 695px;
    width: 100%;
}
.title {
    margin: 0;
    padding-top: 233px;
    font-weight: bold;
    font-size: 55px;
    line-height: 42px;
    color: #FBF4F4;
    text-align: center;
}
.slogan {
    margin: 0;
    padding-top: 70px;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #FCFAFA;
}
.arrow {
    display: block;
    margin: 0 auto;
    margin-top: 167px;
    width: 38px;
    height: 38px;
}
.portfolio {
    margin: 50px auto 70px auto;
    min-height: 666px;
}
.portfolio .portfolio_work {
    display: flex;
    justify-content: space-between;
}
.portfolio .portfolio_title {
    font-weight: bold;
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    margin-top: 50px;
}
.portfolio .portfolio_title .prv {
    text-decoration: none;
}
.portfolio .portfolio_work_item {
    margin-top: 50px;
    min-height: 430px;
}
.portfolio .portfolio_work_item .portfolio_item_title {
    font-weight: bold;
    font-size: 31px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    margin: 33px 0 0 0;
}
.portfolio .portfolio_work_item .portfolio_item_text {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    font-weight: 400;
}
.footer {
    padding-top: 150px;
    height: 410px;
    background: #000000;
    width: 100%;
}
.footer_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_item .name {
    font-size: 35px;
    text-align: center;
    color: rgba(251, 247, 247, 0.7);
    font-weight: 400;
}
.footer_item .name_text {
    font-size: 22px;
    text-align: center;
    color: rgba(251, 247, 247, 0.7);
    font-weight: 400;
}
.footer_item .social {
    font-size: 22px;
    text-align: center;
    color: #FBF7F7;
    font-weight: 400;
}
.footer_item .social_icons {
    display: flex;
    justify-content: space-around;
}
.footer_item .btn {
    width: 358px;
    height: 57px;
    background: rgba(255, 252, 252, 0.85);
    box-shadow: 2px 2px 6px rgba(248, 244, 244, 0.25);
    border-radius: 26px;
    font-size: 22px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.portfolio a {
    text-decoration: none;
    color: #000;
}
.portfolio a:hover {
    color: #777777;
}
.footer_content .footer_item .btn:hover {
    background: rgba(18, 17, 16, 0.85);
    box-shadow: 2px 2px 6px rgba(248, 244, 244, 0.25);
    color: white;
    text-decoration: none;
}
@media (max-width: 1200px) {
    .portfolio .portfolio_work_item .portfolio_item_title {
        font-size: 26px;
    }
    
    .portfolio .portfolio_work_item {
        width: 300px;
        margin: 0 10px;
    }
    .portfolio .portfolio_work_item .portfolio_item_text {
        font-size: 20px;
    }
    .portfolio img {
        width: 100%;
    }
    .footer_item .name {
        font-size: 30px;
    }
    .footer_item .name_text {
        font-size: 18px;
    }
    .footer_item .social {
        font-size: 18px;
    }
    .portfolio .portfolio_work_item {
        min-height: 364px;
    }
    .footer_item .btn {
        width: 100%;
        font-size: 19px;
    }
}
@media (max-width: 992px) {
    .header {
        padding-top: 75px;
        height: 522px;
    }
    .title {
        padding-top: 0;
        font-size: 50px;
    }
    .slogan {
        padding-top: 45px;
        font-size: 28px;
    }
    .portfolio {
        margin: 20px 0;
    }
    .portfolio .portfolio_title {
        margin-top: 20px;
    }
    .portfolio_work {
        display: flex;
        flex-direction: column;
    }
    .portfolio .portfolio_work_item .portfolio_item_title {
        font-size: 20px;
        line-height: 28px;
    }
    .portfolio .portfolio_work_item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    .portfolio .portfolio_work_text {
        width: 30%;
    }
    .portfolio img {
        width: 120%;
    }
    .portfolio .portfolio_work_item .portfolio_item_title {
        padding: 0;
    }
    .portfolio .portfolio_work_item .portfolio_item_title {
        margin: 0;
    }
    .footer {
        padding-top: 130px;
        height: 300px;
    }
    .footer_item .name {
        font-size: 22px;
    }
    .footer_item .name_text {
        font-size: 15px;
    }
    .footer_item .social {
        font-size: 13px;
    }
    .footer_item .social_icons .social_icons_image {
        width: 23px;
    }
    .footer_item .btn {
        width: 230px;
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .header {
        padding-top: 50px;
        height: 400px;
    }
    .arrow {
        margin-top: 45px;
    }
    .portfolio .portfolio_work_item {
        display: flex;
        flex-direction: column;
    }
    .portfolio img {
        width: 100%;
    }
    .portfolio .portfolio_work_text {
        width: 100%;
    }
    .footer_content {
        display: flex;
        flex-direction: column;
    }
    .footer {
        padding-top: 30px;
    }
    .footer_item {
        padding-top: 20px;
    }
    .footer_item .social_icons .social_icons_image {
        width: 30px;
    }
    .portfolio .portfolio_title {
    font-size: 35px;
    }
}